a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

html,
body {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  background-color: #333;
}
html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

body {
  text-align: center;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.img {
}

#image1,
#image2 {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  max-width: 500px;
  height: auto;
  max-height: 400px;
}

.img-cont{
  padding: 2px;
  margin: 5px, 5px, 5px, 5px;
  overflow: hidden;
}
.img-cont :hover {
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
  background-color: #333;
  border: 1px solid white;
}
