/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

html,
body {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  background-color: #333;
  color: white;
}
html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;

}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

#image1,
#image2 {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  max-width: 500px;
  height: auto;
  max-height: 400px;
}

.img-cont{
  padding: 2px;
  margin: 5px, 5px, 5px, 5px;
  overflow: hidden;
}
.img-cont :hover {
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
  background-color: #333;
  border: 1px solid white;
  cursor: pointer;
}

.home-btn{
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border: none;
  margin: 10px;
  background-color: rgba(19, 19, 19, 0.664);
  color: white;
  padding-left:  20px;
  padding-right:  20px; 
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 25px;
}

.home-btn:hover{
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
}